/* ----------------------------- */
/* Reset global                  */
/* ----------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------------------------- */
/* Tipografía y fondo global     */
/* ----------------------------- */

html, body {
  height: 100%;
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
  color: #111827;
}

/* Suaviza la tipografía */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ----------------------------- */
/* Root para variables opcionales */
/* ----------------------------- */

:root {
  --primary: #111827;
  --secondary: #60a5fa;
  --light: #f3f4f6;
  --dark: #1f2937;
}
